<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Beats</string>
	<key>uuid</key>
	<string>5200718A-1F64-4312-AB68-A3404A7C1A5C</string>
</dict>
</plist>
